<!DOCTYPE html>
<!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                  click4life.hiv

-->
<html lang="en">
<head>
    <title>dotHIV initiative | dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets
    'bundles/dothivadmin/lesscss/styles.less'
    filter='cssrewrite,?uglifycss' %}
    <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
    {% image '@DothivRegistryWebsiteBundle/Resources/public/images/favicon.png' %}
    <link rel="shortcut icon" href="{{ asset(asset_url) }}">
    {% endimage %}
    {% javascripts
    '@angular_js'
    filter='?uglifyjs2'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <base href="/">
</head>
<body data-ng-app="dotHIVApp">
<nav role="navigation" data-ng-controller="AdminHeadNavController" class="navbar navbar-default">
    <section class="container-fluid">
        <header class="navbar-header">
            <a class="navbar-brand" href="{{ path('dothiv_admin_app') }}">dotHIV initiative</a>
        </header>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-ng-show="isLoggedIn()">
                <li data-ng-class="{active: state.includes('=.dashboard') }">
                    <a href="{{ path('dothiv_admin_app') }}#!/dashboard">Dashboard</a>
                </li>
                <li data-ng-class="{active: state.includes('=.domain') }">
                    <a href="{{ path('dothiv_admin_app') }}#!/domain"><abbr title="Domain registrations">Domains</abbr></a>
                </li>
                <li data-ng-class="{active: state.includes('=.nonprofit') }">
                    <a href="{{ path('dothiv_admin_app') }}#!/nonprofit"><abbr title="Non-profit registrations">Non-profits</abbr></a>
                </li>
                <li data-ng-class="{active: state.includes('=.config') }">
                    <a href="{{ path('dothiv_admin_app') }}#!/config"><abbr title="Global configuration settings">Config</abbr></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button data-ng-click="logout()" data-ng-show="isLoggedIn()">Logout</button>
                </li>
            </ul>
        </div>
    </section>
</nav>
<main data-ui-view></main>
<footer></footer>
{% block angular_app %}
    {% javascripts
    '@DothivPremiumConfiguratorBundle/Resources/public/js/vendor/jquery.js'
    '@bootstrap_js_collapse'
    '@angular_js_resource'
    '@angular_js_route'
    '@angular_js_cookies'
    '@jquery'
    '@angular_moment'
    '@angular_ui_bootstrap_tpls'
    '@angular_ui_router'
    '@DothivAdminBundle/Resources/public/js/app.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/*.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/models/*.js'
    '@DothivAdminBundle/Resources/public/js/services/*.js'
    '@DothivAdminBundle/Resources/public/js/services/models/*.js'
    '@DothivAdminBundle/Resources/public/js/controllers/*.js'
    filter='?uglifyjs2'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock angular_app %}
<script type="text/ng-template" id="error-modal.html">
    <header>
        <h2>%%title%%</h2>
    </header>
    <article>
        <div>
            <p>%%message%%</p>
        </div>
    </article>
    <footer>
        <button data-ng-click="$dismiss()">Close</button>
    </footer>
</script>
</body>
</html>
