{% import "DothivAdminBundle:Page:app/list.html.twig" as list %}
{% import "DothivAdminBundle:Page:app/form.html.twig" as form %}
<article class="crud" data-ng-init="listUrl = '/admin/api/domain'; fetchFilterPropertyValues('/admin/api/registrar', 'registrars');">
    <h1>
        Domain registrations
        <small>(<span data-ng-bind="total"></span>)</small>
    </h1>

    {% set numcols = 8 %}
    <table>
        <thead>
        <tr>
            <td colspan="{{ numcols }}">
                <form>
                    {{ form.propertyFilter("live", "is live", "is not live", "live") }}
                    {{ form.propertyFilter("clickcount", "has clicks", "has no clicks", "clicks", ">=1") }}
                    {{ form.propertyFilter("clickcounterconfig", "Click-counter configured", "Click-counter not configured", "configured") }}
                    {{ form.propertyFilter("nonprofit", "Non-Profit domain", "For-profit domain", "nonprofit") }}
                    {{ form.propertyFilter("transfer", "Domain transfer active", "Domain transfer not active", "transfer") }}
                    <fieldset>
                        <div class="form-group">
                            <input type="text"
                                    data-ng-model="registrarLabel"
                                    data-typeahead="registrar as registrar.name for registrar in filterPropertyValues.registrars | filter:$viewValue | limitTo:3"
                                    data-typeahead-on-select="filterPropertyTypeahead($item, 'registrar');"
                                    placeholder="Registrar (%%filterPropertyValues.registrars.length%%)"
                                    >
                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Search …" data-ng-model="filterTerm" data-ng-change="loadAfter();">
                    </fieldset>
                    <fieldset>
                        <button type="reset" data-ng-click="clearFilters()">
                            <i class="trash"></i>
                        </button>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr>
            <th>
                Domain
                {{ list.sort("name") }}
            </th>
            <th><!-- flags --></th>
            <th class="right">Clicks</th>
            <th class="center"><abbr title="Token sent">Token</abbr></th>
            <th>Registrar</th>
            <th>Created</th>
            <th class="right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="domain in items">
            <td>
                <a href="http://www.%%domain.domain%%/" data-ng-bind="domain.domainUTF8"></a>
            </td>
            <td class="right">
                <abbr title="is live" data-ng-show="domain.live"><i class="status live"></i></abbr>
                <abbr title="has clicks" data-ng-show="domain.clickCount > 0"><i class="status clicks"></i></abbr>
                <abbr title="Click-Counter configured" data-ng-show="domain.clickCounterConfigured"><i class="status configured"></i></abbr>
                <abbr title="Domain transfer active"><i class="status transfer" data-ng-show="domain.transfer"></i></abbr>
                <abbr title="Non-profit domain"><i class="status nonprofit" data-ng-show="domain.nonprofit"></i></abbr>
            </td>
            <td class="right" data-ng-bind="domain.clickCount"></td>
            <td class="center">
                <span data-ng-show="domain.registrar.notification">
                    <i class="yes" data-ng-show="domain.tokenSent"></i>
                    <i class="no" data-ng-show="!domain.tokenSent"></i>
                </span>
                <span data-ng-show="!domain.registrar.notification">
                    &mdash;
                </span>
            </td>
            <td data-ng-bind="domain.registrar.name"></td>
            <td>
                <abbr class="time" title="%%domain.created%%" am-time-ago="domain.created"></abbr>
            </td>
            <td class="right">
                <button type="submit" data-ng-click="edit('=.domain.edit', domain.domain)"><i></i></button>
            </td>
        </tr>
        <tr data-ng-show="items.length == 0">
            <td colspan="{{ numcols }}">No domains found.</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ numcols }}">
                <nav>
                    <button data-ng-disabled="!nextUrl" data-ng-click="next()" id="loadMoreButton">Load more</button>
                </nav>
                <span class="loading" data-ng-show="!loaded"><i class="loading"></i> loading …</span>
            </td>
        </tr>
        </tfoot>
    </table>
</article>
